@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Helvetica Now Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.indent {
  text-indent: 2rem;
}

.hyphens {
  hyphens: auto;
}

.scroll-container {
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-item:not(:first-child) {
  scroll-margin-left: 8px;
  scroll-snap-margin-left: 8px;
}

.scroll-item {
  scroll-snap-align: start;
}

.scroll-item:first-child > .scroll-item-label {
  padding-left: 8px;
}

.scroll-item:last-child > .scroll-item-label {
  padding-right: 8px;
}

.scroll-item-image, .scroll-item-label {
  width: calc(100vw / 12 * 11 - 8px);
}

@media screen and (min-width: 640px) {
  .scroll-item-image, .scroll-item-label {
    width: calc(100vw / 12 * 4.5 - 8px);
  }
}

@media screen and (min-width: 768px) {
  .scroll-item-image, .scroll-item-label {
    width: calc(100vw / 12 * 3.5 - 8px);
  }
}

@media screen and (min-width: 1024px) {
  .scroll-item-image, .scroll-item-label {
    width: 100%;
  }
}
