---
layout: layouts/base.njk
---

{%- for post in collections.posts | reverse -%}
<article class="{% if not loop.last%}mb-8{% else %}mb-2{% endif %}">
  <section class="grid grid-cols-12 gap-x-2 border-t border-black ml-2 pr-2 pt-0.5 pb-4 lg:text-3xl lg:leading-solid">
    <h2 class="col-span-6">{{ post.data.title }}</h2>
    <p class="col-span-4">{{ post.data.company }}</p>
    <p class="col-span-2">{{ post.data.year }}</p>
  </section>
  <section class="flex items-end overflow-x-scroll mb-2 scroll-container">
    {% for thumb in post.data.thumbs  %}
      <figure class="flex-shrink-0 {% if not loop.last%}mr-2{% endif %} scroll-item lg:flex-shrink lg:w-1/4">
        <img class="{% if thumb.caption %}mb-2{% endif %} scroll-item-image" src="{{ thumb.image }}" alt="{{ thumb.alt }}">
        {% if thumb.caption %}
          <figcaption class="flex justify-between text-gray-500 scroll-item-label">
            <p>{{ thumb.caption }}</p>
            <p>{{ loop.index }}/4</p>
          </figcaption>
        {% endif %}
      </figure>
    {% endfor %}
  </section>
  <section class="grid grid-cols-12 gap-x-2 px-2">
    {% for description in post.data.description  %}
      <p class="col-span-12 hyphens md:col-span-6 md:col-start-7 {% if not loop.first %}indent{% endif %} lg:text-lg">
        {{ description.paragraph }}
      </p>
    {% endfor %}
  </section>
</article>
{%- endfor -%}
