---
layout: layouts/base.njk
---

<section>
  <p>
    Hello, this is Amin. For the past 2 years I’ve been leading Design Ops at Accurat, a data visualization, design, and development studio based in Milan and New York. Prior to Accurat I lived in Berlin and worked for Mozilla. First as a design system designer and later as the sole designer for experimental browsers such as Firefox for <span class="small-caps">TV</span>s and smart displays. In 2010 I started my design career opening a one-man studio that I run for 6 years.
  </p>
</section>
{% for post in collections.posts | reverse %}
<section>
  <h2>{% if post.data.published == true %}<a href="{{ post.url | url }}">{{ post.data.title }} →</a>{% else %}{{ post.data.title }}{% endif %}</h2>
  <p>{{ post.data.description }}</p>
  <figure>
    <img src="{{ post.data.cover }}" alt="{{ post.data.alt }}" />
    {% if post.data.caption %}
    <figcaption>{{ post.data.caption }}</figcaption>
    {% endif %}
  </figure>
</section>
{% endfor %}
